.support-container {
    background: linear-gradient(to right, #ffffee, #ffeade);
}

.support-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #fff;
    color: #333;
}

.support-card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.btn-outline-primary:hover, .btn-outline-success:hover {
    background-color: #333;
    color: #fff;
}
