.navbar-custom {
    background-color: rgba(253, 253, 253, 0.636) !important; /* Ensures the navbar is transparent */
    box-shadow: none; /* Removes any shadow if present */

  }
  
  .navbar-custom .nav-link {
    color: #000000; /* Customize text color if needed */
    transition: color 0.3s ease;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .navbar-custom .nav-link:hover {
    color: #4a4a4a; /* Hover effect for better visibility */
  }
  .nav-profile-link-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .nav-profile-link-img:hover{
    scale: 1.1;
    transition: 0.1s ease-in ;
  }

  